---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const parties = await getCollection("party");
  return parties.map((party) => ({
    params: {
      key: party.data.key,
    },
    props: party.data,
  }));
}

const party = Astro.props;
---

<Layout title={party.name}>
  <main class="container mx-auto py-10">
    <article class="bg-white shadow-md rounded-xl p-10 max-w-4xl mx-auto">
      <h1 class="text-5xl font-extrabold">{party.name}</h1>

      <dl class="mb-4 mt-3">
        <dt class="font-bold">PBS Number</dt>
        <dd>
          {party.pbsNumber}
        </dd>
      </dl>

      <dl class="mb-4 mt-3">
        <dt class="font-bold">type</dt>
        <dd>
          {party.type}
        </dd>
      </dl>
    </article>
  </main>
</Layout>
