---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-[#f8f7f6]">
    <header class="bg-brombeer text-white">
      <div class="container mx-auto flex flex-col md:flex-row items-center">
        <a class="block m-5" href="/">
          <img width="300" class="max-w-full" alt="Pfadibewegung Schweiz" src="/logo.svg" />
        </a>

        <button id="btn-menu" type="button">
          <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              fill="currentColor"
              d="M16 132h416c9 0 16-7 16-16V76c0-9-7-16-16-16H16C7 60 0 67 0 76v40c0 9 7 16 16 16zm0 160h416c9 0 16-7 16-16v-40c0-9-7-16-16-16H16c-9 0-16 7-16 16v40c0 9 7 16 16 16zm0 160h416c9 0 16-7 16-16v-40c0-9-7-16-16-16H16c-9 0-16 7-16 16v40c0 9 7 16 16 16z"
            ></path>
          </svg>
        </button>

        <nav class="w-full p-5">
          <ul class="flex flex-wrap items-center md:justify-end justify-center w-full text-lg font-bold">
            <li>
              <a href="/services">Services</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
  <slot />
</html>
