---
import "../styles/global.scss";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="page-header">
      <div class="container">
        <a class="logo" href="/">
          <img alt="Pfadibewegung Schweiz" src="/logo.svg" />
        </a>

        <button id="btn-menu" type="button" class="btn-icon">
          <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
            ></path>
          </svg>
        </button>

        <div class="navigation">
          <nav class="links">
            <ul>
              <li>
                <a href="http://portal-hilfe.scouts.ch" target="_blank" rel="noopener">Hilfe</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <slot />
  </body>
</html>

<style lang="scss">
  .page-header {
    background-color: #521d3a;
    color: #ffffff;
    height: 13rem;
    left: 0;
    padding: 1.5rem 0;
    // position: fixed;
    // right: 0;
    // top: 0;
    // z-index: 100;

    .container {
      height: 100%;
      margin-bottom: 0;
      position: relative;
    }

    .logo {
      display: inline-block;
      height: 7rem;
      text-decoration: none;
      width: 33.3333333333%;
    }

    .navigation {
      align-items: center;
      display: flex;
      justify-content: space-between;
      float: right;
      height: 100%;
      margin-bottom: 0;
      position: relative;
      vertical-align: top;
      width: 66.6666666667%;
    }
  }
</style>
